$primary : #041157;
$primary-light : #d3d6e9;
$primary-dark:  #00093a;

$secondary : #FEAF30;
$danger : rgb(54, 218, 92);
$success : rgb(206, 7, 67);

$black: #000;
$dark: #555;

$input-size: 36px;
$bg-light:#f5f5f5;
$white: #fff;
$padding-sm: 0.5rem;
$padding-md : calc(#{$padding-sm} * 2);


